@charset "UTF-8";

@media screen and (min-width: 100px) and (max-width: 768px) {
    
    section#login {
        background-color: var(--SECTION);
        bottom: 0;
        position: fixed;
        margin: 10px 0px 0px 0px;
    }
}