@charset "UTF-8";

/*  
    PALETA DE CORES

    HEADER = #0c5b91
    NAV    = #1a729f
    BODY   = #f0f6f6
    DIV    = #0c5b91
    FONT   = #ffffff
*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0f6f6;
}

header {
    background-color: #0c5b91;
    min-height: 100px;
}

div#sudesb {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-47%, -55%);
}

div#sudesb img {
    width: 220px;
    box-sizing: border-box;
}

#logo {
    width: 4%;
    display: block;
    margin: auto;
    padding: 5px 0px 5px 0px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2em;
}

header > p {
    text-align: center;
    color: white;
    font-size: 0.9em;
    padding: 5px 0px 5px 0px;
}

nav {
    text-align: right;
    position: relative;
    top: 18px;
    background-color: #1a729f;
    padding: 4px 0px 0px 0px;
}

nav > a {
    font-weight: bold;
    font-size: 1em;

    color: white;
    text-decoration: none;

    padding: 4px 0px 0px 0px;
    margin: 0px 0px 0px 5px;

    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: #124e6b;
    padding-left: 30px;
    padding-right: 10px;
}

main {
    background-color: #e5ebeb;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 1px 1px 20px #767a7a54;
    max-width: 900px;
    max-height: 1000px;
    margin: auto;
    text-align: center;
}

div.containers {
    display: inline-block;
    background-color: #0c5b91;
    width: 230px;
    height: 230px;
    border-radius: 20px;
    margin: 50px 90px 50px 20px;
}

div > img {
    width: 200px;
    margin: 15px 15px 15px 15px;
}

footer {
    background-color: #124e6b;
    color: white;
    text-align: center;
    font-size: 0.9em;

    padding: 1px 0px 11px 0px;
    height: 15px;
    width: 100%;
    bottom: -80%;
}

#sudesb-footer {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#sudesb-footer:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}